*{
    margin: 0;
    font-family: sans-serif;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.card{
    width: 100%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 
    0 10px 10px rgba(0,0,0,0.22);
    transition: .4s;
    background: #f2f2f2;
}

.card:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.22);
    transform: translate(0px, -8px);
}

.card-title{
    text-align: center;
    color: #5f6568;
    padding-top: 0 8px;
}

img{
    width: 90%;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

p{
    text-align: center;
    color: #5f6568;
    padding-top: 0 8px;
}
h4{
    font-size: 30px;
    text-align: center;
    padding: 6px;
}



h6{
    font-size: 20px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}
button{
    text-align: center;
    font-size: 15px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    display: block;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #2183a2;
    margin: 5px 0ppx 5px 5px ;
}

.row{
    margin-top: 10px;
    margin-left: 10px;
}

.category{
    padding: 10px;
    float: left;
    height: 100%;
    margin-bottom: 100px;
    margin-left: 0px;
    width: 15%;
    margin: 15px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
    transition: .4s;
}
.cats{
    padding: 10px;
}