<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" ><strong>Fresh From Farm</strong><span class="glyphicon glyphicon-grain"></span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      
    </div> 
        <ul class="nav navbar-nav navbar-right">
          <li><a class="navlink" routerLink="/show-product"><span class="glyphicon glyphicon-log-in"></span> Products </a></li>
          <li><a class="navlink" routerLink="/learn-to-farm"> Learn To Farm</a></li>
          <li><a class = "navlink" routerLink="/cart"><span class="glyphicon glyphicon-shopping-cart"></span><div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div></a></li>
          <li><a class="navlink" routerLink="/main"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
  
  </div>
</nav>
