<footer class="page-footer font-small blue pt-4"> 

    <div class="container-fluid text-center text-md-left">

      <div class="row">

        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">Join the chain</h5>
          <p>A Healthy Outside starts from Inside. Let's break the COVID together</p>
          <p>We bring in the most fresh veggies and fruits. Choose what you <span style="font-size:100%;color:red;">&hearts;</span> to eat.</p>

        </div>
        <hr class="clearfix w-100 d-md-none pb-3">

        <div class="col-md-3 mb-md-0 mb-3">

            <h5 class="text-uppercase">Get to Know Us</h5>

            <ul class="list-unstyled">
              <li>
                <a routerLink = "./about-us">About Us</a>
              </li>
              <li>
                <a routerLink="./pagenotfound">Careers</a>
              </li>
              <li>
                <a routerLink="./pagenotfound">Make Money With Us</a>
              </li>

            </ul>

          </div>

          <div class="col-md-3 mb-md-0 mb-3">

            <h5 class="text-uppercase">Connect with Us</h5>

            <ul class="list-unstyled">
              <li>
                <a href="https://twitter.com/FarmFreah">Twitter</a>
              </li>
              <li>
                <a routerLink="./pagenotfound">Facebook</a>
              </li>
              <li>
                <a href="https://instagram.com/f3_fresh_from_farm?utm_medium=copy_link">Instagram</a>
              </li>
            </ul>

          </div>

      </div>

    </div>
    <div class="footer-copyright text-center py-3">
      Contact Us @ <a href="#">8500630793</a> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
      © 2022 Copyright:
      <a href="https://mdbootstrap.com/"> FreshFromFarmCorp</a>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
      Email Us: <a href="#">freshfromfarm10@gmail.com</a>
    </div>

  </footer>