<app-header></app-header>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
 </head>
 <div class="row">
    <div class="col-lg-2 col-md-6 mb-4">
        <button class="cats" routerLink="/vegetables">Vegetables</button>
    </div>
    <div class="col-lg-2 col-md-6 mb-4">
        <button class="cats" routerLink="/fruits">Fruits</button>
    </div>
    <div class="col-lg-2 col-md-6 mb-4">
        <button class="cats" routerLink="/grains">Grains</button>
    </div>
    <div class="col-lg-2 col-md-6 mb-4">
        <button class="cats" routerLink="/farmwastes">Farm Wastes</button>
    </div>
 </div>
<div class="container">
    <div class="col-lg-3 col-md-6 mb-4" *ngFor = "let product of products">
        <div class="card h-100">
            <img src="{{product.pImage}}" alt="" class="card-img-top">
            <div class="card-body">
                <h4 >{{product.pName}}</h4>
                <h6>&#8377; {{product.pPrice}}</h6>
                <p class="card-text">{{product.description}}</p>
                <button class="btn btn-primary" (click)=addtocart(product) > Add to cart</button> 
            </div>
        </div>
    </div>
</div>