<app-main-header></app-main-header>

<section class="carousel" aria-label="Gallery">
  <div class="carousel__viewport">
    <li id="carousel__slide1"
        tabindex="0"
        class="carousel__slide">
      <div class="carousel__snapper">
        <div class="container">
          <div class="imagebox">
          <img class = "center-fit" src="assets/images/1.png" alt="Snow" style="width:100%">
          </div>
            </div>
              <a href="#carousel__slide4"
           class="carousel__prev"></a>
        <a href="#carousel__slide2"
           class="carousel__next"></a>
      </div>
    </li>
    <li id="carousel__slide2"
        tabindex="0"
        class="carousel__slide">
       <div class="container">
      <div class="carousel__snapper"></div>
      <div class="imagebox">
        <img class = "center-fit" src="assets/images/2.png" alt="Snow" style="width:100%">
        </div>
      </div>
      <a href="#carousel__slide1"
         class="carousel__prev"></a>
      <a href="#carousel__slide3"
         class="carousel__next"></a>
    </li>
    <li id="carousel__slide3"
        tabindex="0"
        class="carousel__slide">
      <div class="carousel__snapper"></div>
      <div class="container">
        <div class="imagebox">
          <img class = "center-fit" src="assets/images/3.png" alt="Snow" style="width:100%">
          </div>
      </div>

      <a href="#carousel__slide2"
         class="carousel__prev"></a>
      <a href="#carousel__slide4"
         class="carousel__next"></a>
    </li>
    <li id="carousel__slide4"
        tabindex="0"
        class="carousel__slide">
      <div class="carousel__snapper"></div>
      <div class="container">
        <div class="imagebox">
          <img class = "center-fit" src="assets/images/4.png" alt="Snow" style="width:100%">
          </div>
      </div>
      <a href="#carousel__slide3"
         class="carousel__prev"></a>
      <a href="#carousel__slide1"
         class="carousel__next"></a>
    </li>
  </div>
</section>
