<!-- grid system used to fit the items to screen-->
<!-- <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 col-dm-4 col-4 bg-info">col-xl-4</div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-dm-4 col-4 bg-success">col-xl-4</div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-dm-4 col-4 bg-info">col-xl-4</div>
</div>
-->
<div class="card" style="width:250px; height:100px;">
        <img class="card-image" src="assets\images\sonyBTSpeakers.jpeg" />
    
        <div class="card-body">
            <h3 class="card-title"> Sony BT Speaker</h3>
            <p class="card-text"> SONY SRS-XB12 10 W Bluetooth Speaker  </p>
            <h3>₹4,290</h3>
            <button class="btn btn-primary">Add To Cart</button>
        </div>
</div>
    











<!-- <h1>demo1 works!</h1>
   comment: Interpolation {{}}
   ol = ordered list
   ul = unordered lists :comment
Message : {{message}} <br/>
Name: {{name}} <br/>
Age: {{age}} <br/>
Salary: {{salary}} <br/>
Is Married: {{isMarried}} <br/>

<h3> Hobbies </h3>
<ol>
    <li *ngFor="let hobby of hobbies">{{hobby}}</li>
</ol>

<h3>Address</h3>
Door No: {{address.doorNo}} <br/>
Street:{{address.street}} <br/>
City: {{address.city}} <br/><br/>

comment: html -> ts :comment
<button (click)='showMessage()'>Click Me!</button>
-->