body{
  background-image: url("src\assets\images\register.jpg"); /*url("src\assets\images\farmimg.jpg");*/
  background-size: 90%; 
  background-size: cover;
  background-position: 100% 100%;
   width: auto; 
   height: 630px;
}

.container{
  text-align: center;
  align-items: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  width: 350px;
  height: 500px;
  background-color: gainsboro;
  border: 1pm;
}

h1{
  text-shadow: 1px 1px 3px;
  color: rgb(8, 5, 1);
}  