<app-main-header></app-main-header>

<body>
    <br/><br/><br/>
    <div class="container">
    <h1> <b>Sign Up Form</b></h1><br/>
    <form #regForm="ngForm" (ngSubmit)="registerCust1(regForm.value)" class = "form-group" novalidate>
        <div class = "input-group" >
            <span class="input-group-addon"><i class=" glyphicon glyphicon-pencil"></i></span>
                <input type="text"   name="cName"  class="form-control"  ngModel #name=ngModel   placeHolder="Username"  required minlength= "2" maxlength="16"/>
        </div>
        <div *ngIf="name.errors?.required && name.touched" class = "text-danger"> Enter Username </div>
        <div *ngIf="name.errors?.minlength && name.touched" class = "text-danger"> username should be minimum 4 characters </div>        
        <br/>
        <div class = "input-group" >
            <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
                <input type="tel"   name="phNo"  class="form-control"  ngModel #phNo=ngModel   placeHolder="Phone Number"  required minlength= "10" maxlength="10"/>
        </div>
        <div *ngIf="phNo.errors?.minlength && phNo.touched" class = "text-danger"> Phone Number should be of 10 characters </div>        
        <br/>
        <div class = "input-group" >
            <span class="input-group-addon"><i class=" glyphicon glyphicon-pencil"></i></span>
            <input type="email"   name="cEmail" class="form-control"  ngModel #email=ngModel   placeHolder="default@gmail.com"  required />
        </div><br/>
        <div class = "input-group" >
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password"   name="password"  class="form-control"  ngModel #pwd=ngModel   placeHolder="Password"  required minlength= "2" maxlength="10"/>
            <div *ngIf="pwd.errors?.minlength && pwd.touched"  class = "text-danger"> Password length should be min 4 characters</div>
            <div *ngIf="pwd.errors?.required && pwd.touched"  class = "text-danger"> Enter Password </div>
        </div>
        <br />
        <button [disabled]="!regForm.valid" class="btn btn-primary btn-lg">Submit</button><br /><br /><br /><br />
    </form>
    </div>
</body>