<header></header>
  <section class="order-form my-4 mx-4">
    <div class="container pt-4">

      <div class="row">
        <div class="col-12">
          <h1>Confirm and Place your Order</h1>
          <hr class="mt-1">
        </div>
        <div class="col-12">

          <div class="row mx-4">
            <div class="col-12 mb-2">
              <label class="order-form-label">Name</label>
            </div>
            <div class="col-12 col-sm-6">
              <input class="order-form-input" placeholder="First">
            </div>
            <div class="col-12 col-sm-6 mt-2 mt-sm-0">
              <input class="order-form-input" placeholder="Last">
            </div>
          </div>

          <div class="row mt-3 mx-4">
            <div class="col-12">
              <label class="order-form-label">Address</label>
            </div>
            <div class="col-12">
              <input class="order-form-input" placeholder="Street Address">
            </div>
            <div class="col-12 mt-2">
              <input class="order-form-input" placeholder="Street Address Line 2">
            </div>
            <div class="col-12 col-sm-6 mt-2 pr-sm-2">
              <input class="order-form-input" placeholder="City">
            </div>
            <div class="col-12 col-sm-6 mt-2 pl-sm-0">
              <input class="order-form-input" placeholder="Region">
            </div>
            <div class="col-12 col-sm-6 mt-2 pr-sm-2">
              <input class="order-form-input" placeholder="Postal / Zip Code">
            </div>
            <div class="col-12 col-sm-6 mt-2 pl-sm-0">
              <input class="order-form-input" placeholder="Country">
            </div>
          </div>

          <div class="row mt-3 mx-4">
            <div class="col-12">
            </div>
          </div>
          <div class="receipt">
            <h1>Order Summary</h1>
            <div class="payments">
               <table *ngFor = "let product of products">
                  <tr>
                     <td><p>{{product.pName}}</p></td>
                     <td><p>{{product.pPrice}}</p></td>
                  </tr>
               </table>
               <table class="total">
                  <tr>
                     <td><p>Total = &nbsp;</p></td>
                     <td><p>{{totalMoney}}</p></td>
                  </tr>
               </table>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-2 col-md-6 mb-4">
              <button type="button" class="btn btn-outline-danger" (click)="proceedToPay()">Proceed to payment</button>
          </div>
            <!-- <div class="col-12">
              <button type="button" id="btnSubmit" class="btn btn-dark d-block mx-auto btn-submit">Pay Now</button>
            </div> -->
          </div>

        </div>
      </div>
    </div>
  </section>