body{
    margin: 0;
}
.navbar{
    background-color: black;
}
.navbar-custom {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px;
    height: 1;
  }
.navbar-brand{
    font-size: 20px;
    text-align: center;
    color: white;
}
.navbar-brand:hover{
    color: white;
}
  a{
    color: white;
    text-align: center;
    font-size: 20px;
}
.navlink:hover{ 
    color: black;
    background-color: gainsboro;
}
.navlink{
    margin: 3px;
    padding: 15px;
    font-size: 14px;
    color: white;
}
.nav-link{
    padding: 15px;
    font-size: 14px;
    color: white;
}