<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<nav class="navbar navbar-expand-md navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" ><strong>Fresh From Farm</strong><span class="glyphicon glyphicon-grain"></span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
 
    <div class="collapse navbar-collapse" id="navbarColor01">

    </div>
   
 
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="navlink active" routerLink="/main"> <span class="glyphicon glyphicon-home home"></span> Home
          <span class="visually-hidden">(current)</span>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="navlink" routerLink="/register"> Register</a></li>
      <li><a class="navlink" routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>

  </div>
</nav>