<app-header></app-header>

<body>
    <div class="container">
        <div class="content">
            <h3>Thank you for Shopping with us !!</h3>
            <h3>Pay Here</h3>
        </div>
        <div class="but1">
            <button> Cash on delivery</button>
        </div>
        <div class="gpay">
            <google-pay-button
                environment="TEST"
                buttonType="buy"
                buttonColor="black"
                [paymentRequest]="paymentRequest"
                (loadpaymentdata)="onLoadPaymentData($event)"
                (error)="onError($event)"
                [paymentAuthorizedCallback]="onPaymentDataAuthorized"
                >
            </google-pay-button>
        </div>
    </div>
</body>
