body{
    background-image: url("src\assets\images\pay.jpg");
    background-size: 100%;
    background-size: cover;
    background-position: 100% 100%;
    width: auto;
    height: 630px;
    margin: auto;
}

.container{ 
    text-align: center;
    padding: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    width: 320px;
    height: 270px;
    background-color: gainsboro;
    border: 1pm;
    float: left;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 200px;
    align-content: center;
    box-shadow: 1px;
    border-radius: 7px;
    align-items: center;
}

.container:hover{
    transform: scale(1.1); 
}

.content{
    color: black;
    margin: 20px;
}
.gpay{
    text-align: center;
    font-size: 15px;
    color: #fff;
    width: 100%;
    padding: 0px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    display: block;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: black;
}
button{
    text-align: center;
    font-size: 15px;
    color: gainsboro;
    width: 100%;
    padding: 10px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    display: block;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: black;
}

.but1{
    align-items: center;
}


