<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><strong>Fresh From Farm</strong><span class="glyphicon glyphicon-grain"></span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home&nbsp;&nbsp;&nbsp;
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
        </ul>


        <!-- <form class="d-flex">
          <input class="form-control me-sm-2" type="text" placeholder="&#61442;" name="search" autocomplete="off">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        <!-- <div class="content" role="main">
            <div class="card">
              <div class="form-group">
                <label for="search-text">Search Text</label>
                <input type="email" class="form-control" id="search-text" aria-describedby="search-text"
                  [(ngModel)]="searchText" placeholder="Enter text to search"
                  autofocus>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let c of characters | appFilter: searchText">
                  {{c}}
                </li>
              </ul>
            </div>
          </div> -->
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a class="navlink" routerLink="/register"><span class="glyphicon glyphicon-home"></span> User </a></li>
        <li><a class="navlink" routerLink="/login"><span class="glyphicon glyphicon-off"></span> Logout </a></li>
      </ul>
    </div>
  </nav>

  <div class="md-form">
    <input type="search" [(ngModel)]="searchText" placeholder="Search text">
  </div>
  <ul *ngFor="let product of products"> 
    <li>{{product.ProductName}}</li>
  </ul>

  <div>
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link" href="#">&laquo;</a>
      </li>
      <li class="page-item active">
        <a class="nav-link" routerLink="/vegetables">Vegetable</a>
      </li>
      <li class="page-item">
        <a class="nav-link" routerLink="/fruits">Fruits</a>
      </li>
      <li class="page-item">
        <a class="nav-link" routerLink="/grains">Grains</a>
      </li>
      <li class="page-item">
        <a class="nav-link" routerLink="/farmwastes">Farm Wastes</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">&raquo;</a>
      </li>
    </ul>
  </div>

<div class="row offset-md-5" style="margin-top: 10px;">
    <div class="col-md-3" *ngFor="let product of products" style="margin-top: 10px;">

        <div class="card" style="width: 25rem;">
            <img class="card-image-top" [src]="product.imagePath" [alt]="product.alt" style="width: 250px; height: 200px;"/>
            <div class="card-body">
                <h3 class="card-title"> {{product.ProductName}} </h3>
                <p class="card-text"> {{product.description}} </p>

                <div class="row">
                    <div class="col">
                        <h5> {{product.ProductPrice | currency: 'INR'}} </h5>
                    </div>
                    <div class="col">
                        <h5> {{product.Quantity}} </h5>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default btn-number" disabled="disabled" (click)="onDec()" data-type="minus" data-field="">
                                <span class="glyphicon glyphicon-minus"></span>
                              </button>
                            </span>
                            <span class="input-container">
                            <input type="text" name="Quantity" class="form-control input-number" value="{{this.counter}}" min="1" max="10">
                            </span>
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default btn-number"  (click) = "onInc()" data-type="plus" data-field="">
                                <span class="glyphicon glyphicon-plus"></span>
                              </button>
                            </span>
                            </div>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary"> Add To Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
