<app-header></app-header>

<body>
    <br/><br/><br/>
    <div class="container">
    <h1> <b>Register Product</b></h1><br/>
    <form #regpForm="ngForm" (ngSubmit)="onFileUpload(regpForm.value)" class = "form-group" novalidate>
        <div class = "input-group" >
            <span class="input-group-addon"><i class=" glyphicon glyphicon-user"></i></span>
                <input type="text"   name="pName"  class="form-control"  ngModel #pname=ngModel   placeHolder="Product Name"  required minlength= "4" maxlength="20"/>
        </div>
        <div *ngIf="pname.errors?.required && pname.touched" class = "text-danger"> Enter Product name </div>
        <div *ngIf="pname.errors?.minlength && pname.touched" class = "text-danger"> Product name should be minimum 4 characters </div>        
        <br/>
        <div class = "input-group" >
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <span class="input-group-addon"><i class="fa fa-rupee"></i></span>
                <input type="text"   name="price"  class="form-control"  ngModel #price=ngModel   placeHolder="Price"  required />
        </div>
        <br/>
        <div class = "input-group" >
            <span class="input-group-addon"><i class=" glyphicon glyphicon-pencil"></i></span>
                <input type="text"   name="desc"  class="form-control"  ngModel #desc=ngModel   placeHolder="Description"  required minlength= "20"/>
        </div>
        <div *ngIf="desc.errors?.required && desc.touched" class = "text-danger"> Enter Product Description</div>
        <div *ngIf="desc.errors?.minlength && desc.touched" class = "text-danger"> Product description should be minimum 20 characters </div>        
        <br/>
        <div class = "input-group" >
            <span class="input-group-addon"><i class=" glyphicon glyphicon-pencil"></i></span>
                <input type="text"   name="category"  class="form-control"  ngModel #category=ngModel   placeHolder="Vegetables/Fruits/Grains/FarmWastes"  required />
        </div>
        <br />
        <input #fileInput type="file" (change)="onSelect($event)">  
        <!-- <button >Upload</button> -->
        <button [disabled]="!regpForm.valid" class="btn btn-primary btn-lg" >Submit</button><br /><br /><br /><br />
    </form>
    </div>
</body>