<app-main-header></app-main-header>
<body>
    <section class="about">
        <div class="main">
            <img src="../../assets/images/about-us.jpg" alt="">
            <div class="about-text">
                <h1>About Us</h1><br>
                <h5>
                    Hi We at Fresh From Farm sell products directly
                    from the farmer to consumer. we believe health 
                    is an important factor and to achive healthy
                    nation this is our step. what's yours? Shop from 
                    us. From fresh veggies to fruits, grains and cereals 
                    we sell everything. Start your healthy life now. Shop with us.   
                </h5>
                <button  routerLink = "./show-product">Let's Shop</button>
            </div>
        </div>
    </section>
</body>