
<app-header></app-header>
<body>
<div class="container">
<h1 style="color: cornsilk; text-align: center;">There will come a time, when only those who know to plant will be eating !</h1>
<div align="center">
<h3>Learn how to grow Coriander (aka cilantro)</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/LlqsR8TidjQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h3>Craving for French Fries? Here you go!</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ianApRDflh0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>

<h3>Flaunt your farm with strawberries</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/zX8OmL-D7Xk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h3>Summer is up! Wanna grow Lemons? Check this out</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/xvtNOfCBdGk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h3>Grow Cucumbers, Stay Hydrated</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/0uBuHOo5VO8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
</body>