body{
    background-image: url("src\assets\images\login2.jpg"); /*url("src\assets\images\farmimg.jpg");*/
    background-size: 100%;
    background-size: cover;
    background-position: 100% 100%;
    width: auto;
    height: 630px;
    margin: auto;
}

h1{
    text-shadow: 1px 1px 3px;
    color: rgb(8, 5, 1);
}

.container{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    height: 270px;
    background-color: gainsboro;
    border: 1pm;
}

