<app-main-header></app-main-header>

<head>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
       integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body><br/>
   <br/><br/><br/><br/><br/><br/>
   
   
 <div class="container">
   <h1> Welcome!!</h1>
   <br/>
 <form #loginForm=ngForm (ngSubmit)="loginSubmit2(loginForm.value)" class="form-group"novalidate>
   <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
   <input type="text"       placeholder="username" name="loginId"  class="form-control" ngModel required #abc=ngModel minlength= "5" maxlength="10"/>
</div>
<div *ngIf="abc.errors?.required && abc.touched" class="text-danger"> Enter username </div>
 <div *ngIf="abc.errors?.minlength && abc.touched" class="text-danger"> username should be minimum 5 characters </div>
 <div *ngIf="abc.errors?.maxlength && abc.touched" class="text-danger"> username should be maximum 10 characters </div>
<br/> 
<div class="input-group">
   <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
   <input type = "password" placeholder="password" name="password" class="form-control" ngModel required #pwd=ngModel minlength= "6" maxlength="10"/> 
</div>
<div *ngIf="pwd.errors?.required && pwd.touched" class="text-danger"> Enter Password </div>
<div *ngIf="pwd.errors?.minlength && pwd.touched" class="text-danger"> Password length should be min 6 characters</div> 
<br/>
    <button [disabled]="!loginForm.valid"  class="btn btn-primary btn-lg">LogIn</button>

 </form>

 
 
  

</div> 
</body>
