<app-header></app-header>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
 </head>

 <body>
<div class="container">
    <table class="table table-bordered table-striped table-hover table-sm">
        <thead>
        <tr class="bg-info text-white">
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email ID</th>  
            <!-- <th colspan=2 style="text-align:center">Actions</th>           -->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let customer of customers">
            <td>{{customer.cName}}</td>
            <td>{{customer.phnNo}}</td>
            <td>{{customer.email}}</td>
            <!-- <td align="center"><button (Click)="deleteCustomer(customer)" class="glyphicon glyphicon-trash"></button></td> -->
            <!-- <td align="center"><button  class="glyphicon glyphicon-pencil"></button></td> -->
        </tr>
        </tbody>
    </table>
</div>
<br/><br/><br/><br/><br/><br/>
</body>