body{
    background-image: url("src\assets\images\login2.jpg"); /*url("src\assets\images\farmimg.jpg");*/
    background-size: 100%;
    background-size: cover;
    background-position: 100% 100%;
    width: auto;
    height: 630px;
    margin: auto;
}

.adminPage{
    text-align: center;
}

.content{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

h1{
    color: white;
    text-shadow: 0 0 3px black;
}
button{
    font-size: 30px;
    background-color: black;
    border-color: black;
}
button:hover{
    background-color: white;
    color: black;
}
