<app-header></app-header>

<body>
    <br/><br/><br/><br/><br/>
    <div class="content">
        <h1 style="text-align: center;"> <b>Welcome to Admin Homepage </b></h1>
 <br/><br/><br/><br/><br/>
 <div class="adminPage">
<button  class = "btn btn-primary" routerLink="./showCustomer">Show Customer</button>  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button  class = "btn btn-primary" routerLink="./register-product">Register Product</button>  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button  class = "btn btn-primary" routerLink="./show-product">Show Product details</button> 
</div>
    </div>
</body>
